html {
    font-size: 20px;
    /* rem size */

}

body {
    font-family: arial;

    /* em size */
}

/* navbar */

.company-font {
    font-family: 'Pinyon Script', 'Rouge Script', 'Parisienne', arial;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
}

.navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;

}

/* hero - promoção */
.btn-whatsapp {
    background-color: #01e675;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}