html {
    /* rem size */
    font-size: 20px;
}

body {
    font-family: arial;
}

/* navbar */
.company-font {
    font-family: 'Pinyon Script', 'Rouge Script', 'Parisienne', arial;
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding-left: 1rem;
}

.link-secondary {
    text-decoration: none;
}

.navbar-nav .nav-item .nav-link {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.8rem;
}



/* hero */
.hero {
    margin-top: 78px;
}

.btn-whatsapp {
    background-color: #01e675;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

.btn-whatsapp:hover {
    color: white;

}

/* products - carousel */
.carousel-indicators {
    position: unset;
}


/* products - card-grid */
.img-product {
    max-height: 200px;
    max-width: 170px;
}

.rounded-whatsapp {
    border-radius: 50%;
    padding: 5px 10px;
}